#car-fact, #queue-fact, #time-fact, #walk-fact,
#tax-fact, #save-fact, #save-time-fact, #pos-fact {
    visibility: hidden;
    position: absolute;
}

#car-fact.carInfo, #queue-fact.queueInfo, #time-fact.timeInfo, #walk-fact.walkInfo,
#tax-fact.taxInfo, #save-fact.saveInfo, #save-time-fact.saveTimeInfo, #pos-fact.posInfo {
    visibility: visible;
    width: 160px;
    height: 80px;
    border-radius: 8px;
    padding: 8px;
    font-family: 'Quicksand';
    position: absolute;
    background-color: white;
    box-shadow: -2px 3px 0px #3e521c;
}

#tax-fact.taxInfo { height: 80px; width: 210px; }
#save-fact.saveInfo { height: 90px; width: 170px; }

/* Negative facts */
#car-fact.carInfo { left: 45%; top: 105%; }
#queue-fact.queueInfo { right: 20%; top: 140%; }
#time-fact.timeInfo { right: 30%; top: 120%; }
#walk-fact.walkInfo { right: 15%; top: 190%; }

/* Positive facts */
#tax-fact { left: 10%; top: 110%; }
#save-fact { left: 30%; top: 125%; }
#save-time-fact { left: 40%; top: 155%; }
#pos-fact { left: 20%; top: 180%; }